.HomeBody {
    background-color: #ffdcdc;
}

body {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    background:#fafbfc;
  }
  .cat {
    height:200px
  }

  .imgcarrossel{
    width:1600px;
    height: 720px;
    


  } 

  .ggg{
    display:contents ;
  }
  .carrossel{
    width: 1900px;
    height: 696px;
padding-left: -100px;
padding-right: -100px;
    
  }
  .cardbory{
width: 1920px;
height: 1080px;
  }
  .image{
    width: absolute;
    height: 800px;
 

  }

  .form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 300px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    justify-content: right;
   
  }
  .form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
  
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select 
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }
  .form-style-8 textarea{
    resize:none;
    overflow: hidden;
  }
  .form-style-8 input[type="button"], 
  .form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .form-style-8 input[type="button"]:hover, 
  .form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
  }
  .imagesalas{

    width: 400px;
    height:500px;
    padding: 40px;
    top: -200px;
  
  }
  
  .bn7 {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
    padding: 0.3em 1.2em;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #000000;
    background-size: 100% 100%;
  }

  .doriana{
    margin-bottom: 1000;
    width: 25px;
    height: 250px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
}
.seila{
    margin-top: 10;
    width: 25px;
    height: 250px;
}
.wow{
    border-radius: 6px;
    width: 1200px;
    height: 600px;
}
.form2{
justify-content: right;
margin: 100px;
display: right;
margin-left: 200px;

}

.imgindex{
  width: 37.5vh;
  height: 37.6vh;
  border-radius: 200px;
  top: -10px;
  margin-left: 37vh;

}

.imgindex2{
  width: 37.5vh;
  height: 37.6vh;
  border-radius: 200px;
  top: 10px;
  margin-left: 37vh;
}

.index {
  background-color: #ffdcdc;
}
.buttonsalvarcancelar{
  margin-left: 20px;
}

.formreserva{

  margin-left: 139vh;
  width: 60vh;
  color:#FFFFFF;
  

  
}
.fundoreserva{
  background-image: linear-gradient(
    to right,
    #ffdcdc,
    #000000
  );
  
}

.form2reservas{
  width: 70vh;
  margin-top: -40vh;
  color: white;
}
.fundosala{
  background-image: linear-gradient(
    to right,
    #ffdcdc,
    #ffdcdc
  );
}
.fundomodal{
  background-image: linear-gradient(
    to right,
    #ffdcdc,
    #ffdcdc
  );
  color: #FFFFFF;
}
.slrslr{
  margin-top: 15px;
}

